/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

li {
    list-style: none;
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo_booki_header {
    width: 61.09px;
    height: 19px;
}

.list_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.list_header a {
    padding-top: 16px;
}

.list_header a:hover {
    color: var(--main-color);
    border-top: 2px solid #0065fc;
}

.nav_header {
    width: 344px;
    height: 35px;
}

.hebergements_header {
    margin-right: 40px;
}

/****** Main Title ***********/

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 30px;
}

.main_title p {
    margin-top: 8px;
    margin-bottom: 35px;
    font-size: 16px;
}

/****** Main Searchbar ***********/

.main__searchbar__group {
    width: 377px;
    display: grid;
    grid-template-columns: 50px 195px 132px;
    grid-template-rows: 49px;
    gap: 0;
}

.fa-location-dot {
    border: 1px solid;
    text-align: center;
    line-height: 2.5;
    font-size: larger;
    border: 0px;
    border-radius: 15px 0 0 15px;
    color: black;
    background-color: var(--main-bg-color);
}

.main_searchbar input {
    text-align: center;
    font-weight: 700;
    border: 1px solid;
    border-color: var(--main-bg-color);
    font-size: 18px;
}

.main__searchbar__group__button {
    color: white;
    background-color: var(--main-color);
    border: 0px;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    font-size: 18px;
}

.main__searchbar__group__logo {
    display: none;
}

/****** Filter cards ***********/

.filter_cards {
    margin-top: 35px;
    display: flex;
}

.filter_cards p {
    font-weight: 700;
    margin-top: 27px;
}

.list_filter {
    display: flex;
    padding-left: 20px;
}

.list_filter li {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 19px;
    margin-right: 15px;
    font-weight: 700;
}

.list_filter li:hover {
    background-color: #deebff;
}

/****** Information ***********/

.information i {
    margin-bottom: 35px;
    background-color: var(--main-color);
    border-radius: 25px;
    border: 1px solid var(--main-bg-color);
    color: white;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements__cardsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.hebergements__title {
    margin-top: 0;
    margin-bottom: 30px;
}

.hebergements__card {
    width: 31%;
    min-height: 207px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 3px 3px 15px lightgray;
}

.hebergements__card img {
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #fff;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hebergements__card header {
    min-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    margin: 0 15px;
}

.hebergements__card__header__title {
    margin: 0 0 8px 0;
    font-size: 16px;
}
.hebergements__card__header__txt {
    margin: 0 0 8px 0;
    font-size: 14px;
}

.hebergements__card__stars {
    margin-left: 15px;
}

.hebergements__morecontent {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 3px 3px 15px lightgray;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Activités à Marseille ***********/

.activity {
    max-width: 100%;
    min-height: 500px;
    padding: 30px;
    margin-bottom: 35px;
}

.activity__title {
    width: 100%;
    margin: 0 0 30px 0;
}

.activity__cardsection {
    display: flex;
    justify-content: space-between;
}

.activity__cardsection__card {
    width: 23.5%;
    min-height: 439px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgray;
}

.activity__cardsection__card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity__cardsection__card div {
    align-items: center;
    padding: 15px;
}

.activity__cardsection__card__title h3 {
    font-size: 16px;
    margin: 0;
}

/********** Footer *********/

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f2f2;
}

.footer__nav {
    width: 33.33%;
    padding: 20px;
}

.footer__nav__title {
    margin: 0;
}

.footer__nav__navlist {
    padding: 0;
    margin: 0px;
}

.footer__nav__navlist__li {
    margin-top: 15px;
}

/****** Media queries ***********/

@media (max-width: 1024px) {
    .filter_cards {
        flex-direction: column;
    }

    .filter_cards p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .list_filter {
        margin-top: 0;
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity {
        min-height: 200px;
    }

    .activity__cardsection__card img {
        height: 200px;
    }

    .activity__cardsection__card {
        min-height: 270px;
    }
}

@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /*********** Header ************/

    body {
        max-width: 767.98px;
        margin: 0;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    .logo_booki_header {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    header a {
        display: flex;
        justify-content: center;
    }

    .list_header {
        justify-content: center;
    }

    .list_header li {
        width: 50%;
        text-align: center;
    }

    .hebergements_header,
    .hebergements_header__activity {
        margin-right: 0;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .hebergements_header:hover {
        padding-bottom: 15px;
        color: var(--main-color);
        border-bottom: 2px solid #0065fc;
    }

    .hebergements_header__activity:hover {
        padding-bottom: 15px;
        color: var(--main-color);
        border-bottom: 2px solid #0065fc;
        border-top: unset;
    }

    .list_header a:hover {
        color: unset;
        border-top: unset;
    }

    .nav_header {
        width: 100%;
    }

    .main_title {
        padding: 20px;
    }

    /******** Searchbar *********/

    .main_searchbar {
        padding: 0 20px;
    }

    .main__searchbar__group {
        width: 100%;
        grid-template-columns: 50px 1fr 49px;
        border: 1px solid var(--main-bg-color);
        border-radius: 15px;
        z-index: 1;
    }

    .main__searchbar__group__button {
        display: none;
    }

    .main__searchbar__group__logo {
        width: 49px;
        height: 49px;
        display: unset;
        color: white;
        background-color: #0065fc;
        border: 1px solid var(--main-color);
        border-radius: 15px 15px 15px 15px;
        box-shadow: 3px 3px 15px lightgray;
    }

    .main__searchbar__group__logo i {
        color: white;
    }

    .main_searchbar input {
        border-color: transparent;
    }

    /******** Filters *********/

    .filter_cards {
        padding: 0 20px;
    }

    .list_filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
    }

    .list_filter li {
        margin: 0;
        text-align: center;
    }

    .info__section {
        padding: 0 20px;
        margin-bottom: 35px;
    }

    .information i {
        margin: 0;
    }

    /******* Hebergements and populaires *********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /********* Hébergements ********/

    .hebergements-and-populaires .hebergements {
        background-color: white;
        margin-top: 15px;
        padding: 20px;
    }

    .hebergements__cardsection {
        flex-direction: column;
    }

    .hebergements__card {
        width: 100%;
    }

    .hebergements__morecontent a {
        display: none;
    }

    .margin__bottom {
        margin-bottom: 0;
    }

    /*********** Populaires *********/

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        width: 100%;
    }
    .populaires-cards a {
        width: 100%;
    }

    /*********  Activités **********/

    .activity__cardsection {
        flex-direction: column;
    }

    .activity__cardsection__card {
        width: 100%;
        margin-bottom: 15px;
    }

    .margin__bottom {
        margin-bottom: 0;
    }

    .activity__cardsection__card img {
        height: 141px;
    }

    .activity__cardsection__card {
        min-height: 100px;
    }

    /****** Footer *******/

    .footer__nav {
        width: 80%;
        padding: 30px;
    }

    .footer {
        width: 100%;
        flex-direction: column;
    }
}
